@import url('https://fonts.googleapis.com/css?family=Poppins');

.body {
    padding: 50px;
}

body {
  font-family: 'Poppins', sans-serif;

  background: #b3dced;
  background: -moz-linear-gradient(left, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  background: -webkit-linear-gradient(left, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  background: -o-linear-gradient(left, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  background: -ms-linear-gradient(left, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  background: linear-gradient(to right, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );
}

ul {
    background-color: #ff9900;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    text-shadow: 2px 2px black;
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #146eb4;
}

.head {
  width: 25%;
  border-radius: 8px;
  padding: 5px;
  border: solid 2px orange;
  font-weight: bold;
  color: white;
  background-color: red;
}

.error {
  width: 50%;
  height: 20px;
  border-radius: 5px;
  padding: 5px;
  border: solid 2px black;
  font-weight: bold;
  color: white;
  background-color: red;
}

.warning {
  width: 50%;
  height: 20px;
  border-radius: 5px;
  padding: 5px;
  border: solid 2px black;
  font-weight: bold;
  color: black;
  background-color: #CCCC00;
}

.success {
  width: 50%;
  height: 20px;
  border-radius: 5px;
  padding: 5px;
  border: solid 2px black;
  font-weight: bold;
  color: white;
  background-color: #9ACD32;
}

td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
}

.tit {
  font-weight: bold;
}

tr, td {
    border-bottom: 1px solid #146eb4;
}

.login-box {
  overflow-x: auto;
  padding: 10px;
  border: solid 2px black;
  border-radius: 5px;
}

.product-box {
  background: #ffaf4b;
  background: -moz-linear-gradient(left, #ffaf4b 0%, #ff920a 100%);
  background: -webkit-linear-gradient(left, #ffaf4b 0%, #ff920a 100%);
  background: -o-linear-gradient(left, #ffaf4b 0%, #ff920a 100%);
  background: -ms-linear-gradient(left, #ffaf4b 0%, #ff920a 100%);
  background: linear-gradient(to right, #ffaf4b 0%, #ff920a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
  float:left;
  padding: 8px;
  border: solid 2px blue;
  border-radius: 3px;
}

.product-img {
  width: 300px;
  height: 300px;
  max-width: 100%;
  -webkit-transition-property: width, height; /* Safari */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-property: width, height;
    transition-duration: 0.4s;
}

.product-img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 325px;
    height: 325px;
}

.icona {
  width: 16px;
  height: 16px;
}

input[type=search] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('img/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding: 19px 20px 15px 50px;
    width: 275px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
    width: 30%;
}

input[type=submit] {
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buy {
  width: 100%;
  -webkit-transition-duration: 0.4s;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buy:hover {
  background-color: blue;
  color: white;
}
